@import '@/styles/vars'

.folders
  position: absolute
  top: 0
  width: 50%
  left: calc(50% - 25%)
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  padding: 0 12px
  transform: translateY(0)
  transition: transform $time
  overflow: hidden
  &.open
    transform: translateY(-50px)
    .arrow
      transform: rotate(0)
  .folders-list
    display: flex
    gap: 20px
    height: 50px
    padding-top: 12px
    overflow-x: auto
  .folders-item
    position: relative
    padding: 8px 20px
    background: $blue
    border-radius: $step
    transition: background $time
    color: #fff
    &.active
      background: lighten($blue, 20%)
    &:hover
      .delete
        opacity: .9
  .arrow
    transition: transform $time
    transform: rotate(180deg)
    cursor: pointer
    margin-top: 8px
    img
      height: 20px
      width: 20px
  .delete
    position: absolute
    display: flex
    align-items: center
    justify-content: center
    background: $dark
    border-radius: 50%
    font-size: 10px
    height: 16px
    width: 16px
    top: -10px
    right: 0
    opacity: 0
    transition: $time