@import '@/styles/vars'

.main-page
  &.screen
    padding-top: 50px
    position: relative
  .delete-todo
    position: absolute
    left: 0
    top: 40%
    opacity: 0
    transition: $time
    img
      width: 80px
    &.active
      opacity: 1

  .todo-list
    display: grid
    grid-template-columns: repeat(3, 1fr)
    grid-gap: 20px
  .todo-item
    position: relative
    display: flex
    justify-content: space-between
    border: 2px solid $blue
    box-shadow: 1px 2px 4px $dark
    font-weight: 600
    padding: 16px
    border-radius: $step
    margin: 16px 0
    cursor: pointer
    &:hover
      .todo-label
        opacity: 1
    &.danger
      border-color: $error-color
      .fire
        position: absolute
        right: 10px
        top: 10px
  .todo-label
    position: absolute
    right: 10px
    top: 10px
    background: #85bb85
    color: $dark
    font-size: 12px
    padding: 8px 12px
    border-radius: $step*2
    opacity: 0
    transition: opacity $time
  .row
    display: grid
    grid-template-columns: 70% 30%
    column-gap: 80px